mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  padding: 2rem;
}
mat-nav-list {
  overflow: hidden;
}
.outlet-wrapper {
  padding: 1rem;
}
mat-divider {
  margin-top: 1rem;
}

